#!/usr/bin/make -f
# -*- makefile -*-

version      = $(shell env component=.leela-blackbox src/scripts/read-version.sh)
bin_lein    ?= lein
libdir       = /usr/local/lib

%:
	dh $@

override_dh_auto_clean:
	pwd 
	cd src/blackbox; env LEIN_ROOT=1 LEIN_SNAPSHOTS_IN_RELEASE=1 $(bin_lein) clean
	rm -f debian/*substvars
	dh_clean

override_dh_installinit:
	dh_installinit --no-start

override_dh_auto_build:
	dh_testdir
	cd src/blackbox; env LEIN_ROOT=1 LEIN_SNAPSHOTS_IN_RELEASE=1 LD_LIBRARY_PATH=$(libdir) $(bin_lein) uberjar
	cp -a $(libdir)/libjzmq*.so* src/blackbox/target
	cp src/blackbox/target/blackbox-$(version)-standalone.jar src/blackbox/target/blackbox.jar
